---
//src/components/content/VideoPlayer.astro
import { onMount } from 'astro/components'
import Plyr from 'plyr'

const videoSources = [{
  src: '/videos/space-exploration.mp4',
  type: 'video/mp4'
}]
---

<div class="my-8" x-data="videoPlayer">
  <video x-ref="video" class="w-full rounded-box">
    {videoSources.map((source) => (
      <source src={source.src} type={source.type} />
    ))}
  </video>
</div>

<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.data('videoPlayer', () => ({
      player: null,
      init() {
        this.player = new Plyr(this.$refs.video, {
          controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen'],
          ratio: '16:9'
        })
      },
      destroy() {
        if (this.player) this.player.destroy()
      }
    }))
  })
</script>
