---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroBanner from '../components/content/HeroBanner.astro';
import FeaturedCourses from '../components/content/FeaturedCourses.astro';
import FeaturedVideo from '../components/content/FeaturedVideo.astro';
import FeaturedArticles from '../components/content/FeaturedArticles.astro';
import LatestArticles from '../components/content/LatestArticles.astro';
import DonationWidget from '../components/donations/DonationWidget.astro';
---

<BaseLayout title="Home | My Teaching Resources" description="Welcome to my teaching blog">
  <HeroBanner />

  <main class="container mx-auto px-4 pb-16">
    <FeaturedCourses />
    <FeaturedVideo />
    <DonationWidget />
    <FeaturedArticles />
    <LatestArticles />
  </main>
</BaseLayout>
