---
// src/components/ui/Alert.astro
---

<div 
  x-data="alertStore"
  x-show="visible"
  x-transition
  @alert-show.window="show($event.detail)"
  class="alert alert-success fixed bottom-4 inset-x-0 mx-auto mb-4 shadow-lg border border-green-300 ring-1 ring-green-200 bg-success text-success-content w-full max-w-md z-50"
  style="display: none;"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span x-text="message"></span>
</div>

<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.data('alertStore', () => ({
      visible: false,
      message: '',
      show(msg) {
        this.message = msg;
        this.visible = true;
        setTimeout(() => {
          this.visible = false;
        }, 4000);
      }
    }));
  });
</script>
