---
---

<!-- src/components/ui/Alert.astro -->
<div 
  x-data="{ visible: false, message: '' }" 
  x-show="visible" 
  x-transition 
  x-init="$watch('visible', val => { if (val) setTimeout(() => visible = false, 4000) })"
  class="alert alert-success fixed bottom-24 right-6 z-50 shadow-lg border border-green-300 ring-1 ring-green-200 bg-success text-success-content w-full max-w-sm"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span x-text="message">Subscription successful!</span>
</div>

<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.store('alert', {
      visible: false,
      message: '',
      show(msg) {
        this.message = msg;
        this.visible = true;
      }
    });
  });
</script>